@charset "utf-8";
/* CSS Document */

/* Responsive layout - makes the menu and the content (inside the section) sit on top of each other instead of next to each other */
@media (max-width: 300px) 
{
    section 
    {
        -webkit-flex-direction: column;
        flex-direction: column;
    }
}
@font-face 
{
    font-family: Prompt-MediumItalic;
    src:url("../Font/Prompt-MediumItalic.ttf");
    font-weight:bolder;
}
html
{
    width: 100%
}
body
{
    margin: 0px;
}
/* Style the header */
header 
{
    width: 100%;
    height: 200px;
    text-align: center;
    font-size: 35px;
    color:#EC0B19;
}
#header
{
    background-image: url("../../img/Trang_chu/logo-akira-education.png"),url("../../img/Trang_chu/header.jpg");
    background-repeat: no-repeat;
    background-size: 80px, cover;
    background-attachment:scroll;
}
/* Container for flexboxes */
section 
{
    display: -webkit-flex;
    display: flex;
}
/* Style the navigation menu */
nav 
{
    width: 75%;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 10px 20px;
    overflow: hidden;
}

/* Style the list inside the menu */
nav a
{
    list-style-type: none;
    padding: 10px 20px;
    color: aliceblue;
    text-decoration: none;
}
nav a:hover
{
    background-color: #80F38A;
    color: #0B0FC7;
}
#div_00
{
    font-family: Prompt-MediumItalic;
    font-size: 20px;
    background-color: #1805B8;
}
/* Style the footer */
footer 
{
    background-color: #777;
    padding: 10px;
    text-align: center;
    color: white;
}
div.sticky 
{
    position: -webkit-sticky;
    position:sticky;
    top: 0;
    padding: 5px;
}
#img_fo_01
{
    width: 200px;
}
#im_fo_02
{
    width: 300px;
}

.column 
{
    float: left;
    width: 25%;
    
}
.column.left
{
    width: 25%;
    height: 100%;
}
.column.right
{
    width: 75%;
}
.row:after 
{
  content: "";
  display: table;
  clear: both;
}
.button_login
{
    background-color: #1805B8;
    color: #fff;
    font-family: Prompt-MediumItalic;
    padding: 5px 20px;
    font-size: 20px;
}
